body{
	background-image:url("../images/ramen background.jpg");
	background-color: black;
    background-size: 120% 300%;
    background-repeat: no-repeat;
}
.nav ul{
	margin: 10px 0;
	padding: 10px 0;
}
.nav ul li{
	list-style-type: none;
	display: inline-block;
}
.nav ul li a{
	text-decoration: none;
	color: whitesmoke;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 70px;
	margin- left: 20px;
	padding: 1px;	
}
.nav ul li a:hover{
	background-color: whitesmoke;		
	color: orange;
}
.nav ul li a.active{
	color: orangered ;
}
.title {
	margin-top: 200px;
	color: orange;
	font-size: 30px;
	text-align: center;

}
.title p{
	color: whitesmoke;
}
.about-us{
	color: orange;
	font-size: 50px;
	text-align: center;

}
.about-us p{
	color: whitesmoke;
	font-style: Arial;
	font-size: 20px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.about-us h2{
	font-size: 25px;
	color: orange;
	text-align: center;

}
.welcome{
	font-size: 10px;
	color: whitesmoke;
	text-align: center;
}
.our-story{
	font-size: 10px;
	color: whitesmoke;
	text-align: center;
}
.craftsmanship{
	font-size: 10px;
	color: whitesmoke;
	text-align: center;
}
.our-menu{
	font-size: 10px;
	color: whitesmoke;
	text-align: center;
}
.community{
	font-size: 10px;
	color: whitesmoke;
	text-align: center;
}
.visit{
	font-size: 10px;
	color: whitesmoke;
	text-align: center;
}
.glacel{
	color: whitesmoke;
}
.Owner{
	font-size: 20px;
	color: orange;
    font-weight: bold;
    margin-right: 600px;
    margin-top: 100px;

}
.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: whitesmoke;
    margin-top: 80px;
    margin-right: 0px;
}
.Co-Owner{
	font-size: 20px;
	color: orange;
    font-weight: bold;
    margin-right: -400px;
    margin-top: -295px;

}
.profile{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: whitesmoke;
    margin-top: 0px;
    margin-right: 0px;
}
.contactForm input {
    width: 500px;
}